.balello-grid-wrapper {
  display: grid;
  gap: 24px;
}

.balello-carousel-step-1-address-info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.balello-carousel-step-2-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.balello-carousel-step-2-info-to-from {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.balello-carousel-step-2-info-your-info {
  margin-top: 12px;
}

.balello-carousel-step-3-info-package {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 12px;
}

.balello-carousel-step-3-form-label-format-input-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.balello-carousel-step-4-label-img {
  margin-top: 24px;
  width: 75%;
}

.balello-carousel-step-4-label-img img {
  width: 100%;
}
.balello-carousel-nav-buttons-bottom {
  display: grid;
  justify-items: end;
  margin-top: 16px;
}

.balello-carousel-nav-buttons-top {
  margin-bottom: 16px;
}

.balello-label-radio-button {
  display: grid;
  grid-template-columns: auto auto;
}

.balello-carousel-step-3-shipping-options-input-group {
  display: grid;
  gap: 12px;
  padding-top: 12px;
}

.balello-shipping-option-radio-button-group {
  display: grid;
  grid-template-columns: auto 1fr;
}

.balello-carousel-step-4-label-format-options {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  gap: 8px;
}

.balello-button-small {
  padding: unset;
  background: none;
  border: none;
  text-decoration: none;
}

.balello-shipping-option-radio-button {
  display: grid;
  grid-template-columns: auto 1fr;
}

.balello-shipping-option-price {
  text-align: end;
}

.balello-label-format-option-button {
  background: none;
  border: none;
}

.balello-title {
  font-size: 24px;
  margin-bottom: 8px;
}

.balello-header {
  font-size: 18px;
}

.balello-content {
  font-size: 14px;
}

.balello-input-group {
  display: grid;
  gap: 8px;
  margin-top: 8px;
}

.balello-button {
  background: none;
  border: none;
  padding: unset;
  cursor: pointer;
  display: inline-flex;
}

.balello-dropdown {
  background: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  color: rgba(255, 255, 255, 0.9); 
}

.balello-dropdown:focus-visible {
  outline: none;
}

.balello-button:disabled {
  opacity: .75;
}

.balello-spinner {
  color: white;
  animation: spin 1s linear infinite;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: -0.25rem;
  margin-right: .75rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.opacity-75 {
  opacity: .75;
}

.opacity-25 {
  opacity: .25;
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}